* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation {
    position: relative;
    display: flex;
    text-align: center; 

    justify-content: center;
}
.nav-item {
    color: rgb(226, 43, 43);
    text-decoration: none;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-item:hover{
    color: green;
    background-color: cadetblue;
    cursor: pointer;
}